*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: pink;
}

h1{
    background-color: black;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}

.choices{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 5rem;
    
}

.choice:hover{
    opacity: 2;
    cursor: pointer;
    background-color: black;

}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 5rem;
    gap: 3rem;
}

#user-score, #comp-score{
    font-size: 5rem;
}

.msgcon{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

#msg{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    width: 20rem;
    /* display: inline; */
    padding: 1rem;
    border-radius: 1rem;
    
}

#para{
    background-color: black;
}